#checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: 0.5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: #777777;
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: 0.8s;
  }
  
  #bar1,
  #bar3 {
    width: 70%;
  }
  
  .open + .toggle .bars {
    position: absolute;
    transition-duration: 0.5s;
  }
  
  .open + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: 0.5s;
  }
  
  .open + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: 0.5s;
  }
  
  .open + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: 0.5s;
  }
  
  .open + .toggle {
    transition-duration: 0.5s;
    transform: rotate(180deg);
  }
  